body {
	background-image: url("../images/bg1.png");
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer {
    padding: 75px 0 15px 0;
}

.dropdown-item {
	display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;   
}

.dropdown-item:hover {
   background-color: white;
   color: black;
}

.header {
	display: table;
	position: relative;
	width: 100%;
	height:100%;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.portfolio {
    padding: 100px 0 125px 0;
}

.bg-primary {
	background-color: rgba(255,255,255,.2);
}

.bar {
	width:100%;
	height:60px;
	/*background-image: url("../images/blueprint2.png");*/
}

.bar img {
	float: right;
    margin-right:20px;
}