body{
	background-color:#808080;
	width: 960 px;
margin-left: auto;
margin-right: auto;
font-family: Helvetica, Arial, sans-serif;
font-size:15px;
}
.about{
	padding-top:100px;
	clear:both;
	margin-right: 45px;
	margin-left: 45px;
	color:white;
}
.banner {
	background-color: #696969:;
	color:white;
}
.about-me{
	color:white;
	margin-right: 65px;
	margin-left: 65px;
}
.resume {
	padding-top:80px;
	margin-right: 45px;
	margin-left: 45px;
	color:white;

}
.social-media-icons {
	width:25%;
	display:inline;
    list-style-type: none;
	
	
}
.social-media-icons ul li{
	float: right;


}



nav{ 
  width:75%;
  float:left;
 
  padding:0;
  background-color: #525252;


  
}

nav ul {
	margin:0px; 
	padding:0px;
	list-style: none;
	width: 1200px;
	
	padding:0;
}
nav ul li a{
	text-decoration:none; 
	color: white;
	
}
nav ul li{
	float:left;
	width:120px;
	height:50px;
	background-color: #525252;
	font-size: 24px;
	line-height: 40px;
	text-align: left;
	list-style:none;

}
nav ul li a:hover {
	background-color: orange;
}

nav ul li ul li {
	display:none;
}
nav ul li:hover ul li{
	display: block;

}
.title {
	text-align: center;
}
.marineCorps h3 {
	text-decoration: underline;
}
.aericam h3 {
	text-decoration: underline;
}
.sommersSchwartz h3{
	text-decoration: underline;
}
.education h3 {
	text-decoration: underline;
}