body{
	background-color:#808080;
	margin:0;
	font: 1em "Open Sans", sans-serif;
}
.content{
	padding:30px;
}
.nav-main{
	width:100%;
	background-color:orange;
	height:70px;
	color:white;
}
.nav-main .logo {
	float:left;
	height:40px;
	padding:15px 30px;
	font-size: 1.4em;
	line-height: 40px;	
}
.nav-main > ul {
	margin:0;
	padding:0;
	float:left;
	list-style-type: none;
}
.nav-main > ul > li {
	float:left;
}
.nav-item{
	display:inline-block;
	padding:15px 20px;
	height:40px;
	line-height: 40px;
	color:white;
	text-decoration: none;
}
.nav-item:hover{
	background-color: #D3D3D3;
}
.nav-content{
	position: absolute;
	top:70px;
	overflow: hidden;
	background-color: orange;
	max-height: 0;

}
.nav-content a {
	color:white;
	
}
.nav-content:active {
   max-height: 400px;
}﻿

.nav-content a :hover {
	text-decoration: none;
}
.nav-sub{
	padding:20px;
}
.nav-sub ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
.nav-sub ul li a {
	display: inline-block;
	padding:5px 0;
}
.nav-item:focus{
	background-color: #D3D3D3;

}
.nav-item:focus ~ .nav-content{
	max-height: 400px;
	-webkit-transition: max-height 0.4s ease-in;
	-moz-transition: max-height 0.4s ease-in;
	transition: max-height 0.4s ease-in;
}
.about{
	padding-top:100px;
	clear:both;
	margin-right: 45px;
	margin-left: 45px;
	color:white;
}

.about-me{
	color:white;
	margin-right: 65px;
	margin-left: 65px;
}
.resume {
	padding-top:80px;
	margin-right: 45px;
	margin-left: 45px;
	color:white;

}

.title {
	text-align: center;
}
.marineCorps h3 {
	text-decoration: underline;
}
.aericam h3 {
	text-decoration: underline;
}
.sommersSchwartz h3{
	text-decoration: underline;
}
.education h3 {
	text-decoration: underline;
}
.mail{
	padding-left: 5px;
}
.mailMessage {
	color:white;
}